/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 3/03/2015, 10:44:23 AM
    Author     : Wilmer H. Muñoz
*/
.listar_tablas {
    box-shadow: 2px 3.464px 5px 0px rgb( 218, 208, 208 );
}

.force-login{
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.12);
    border-bottom: 1px solid rgba(50, 50, 50, 0.33);
    padding: 1px 1px 0px;
}

td.details-control {
    background: url('http://www.datatables.net/examples/resources/details_open.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.details-control {
    background: url('http://www.datatables.net/examples/resources/details_close.png') no-repeat center center;
}
label.inline{
    vertical-align: middle;
}
input.input-error:focus{
    border-color: #FC5353 !important;
}
input.force-select2{
    width: 100% !important;
    opacity: 0 !important;
    height: 0px !important;
    padding: 0px !important;
}
.table > tbody > tr > th,
.table > tbody > tr > td{
    padding: 4px !important;
    vertical-align: middle;
}
.table-header.force-ace{
    background-color: #307ECC !important;
    border-radius: 0px !important;
}
.panel-green{
    background-color: #DFF0D8!important;
    color: #3C763D !important;
}

/***Arbol***/

.node {
    cursor: pointer;
}

.node circle {
    fill: #fff;
    stroke: steelblue;
    stroke-width: 1.5px;
}

.node text {
    font: 13px sans-serif;
}

.link {
    fill: none;
    stroke: #ccc;
    stroke-width: 1.5px;
}
.height-30 > span{
    height: 30px;
    padding-top: 6px;
    width: 100%;
}
/***#Arbol#***/